.centralizar{
    text-align: center;
}

.formulario {
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}

.tabela {
    width: 80%;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.login{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.315);

    width: 30%;
    height: 240px;
    margin: auto;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    padding: 2%;
}

.sombra{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.315);
}

thead {
    background-color: rgb(3, 3, 110);
    color: white;
}

th.esquerda {
    border-top-left-radius: 10px;
}

th.direita {
    border-top-right-radius: 10px;
}

th.ambas{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.right{
    position: absolute;
    right: 0px;
    padding: 10px;
  }

label.rotulo {
    text-align: left;
}