html {
    background-color: #dfe9f5bb;
}

.fundo{
    height: 100%;
    background-color: #dfe9f5bb;
}

.centralizar{
    text-align: center;
}

.formulario {
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 10px;
    margin-top: 4%;
    background-color: white;
}

.tabela {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 4%;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.login{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.315);
    width: 30%;
    height: 240px;
    margin: auto;
    text-align: center;
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

thead {
    background-color: rgb(3, 3, 110);
    color: white;
}

th{
    vertical-align: middle;
}
th.esquerda {
    border-top-left-radius: 10px;
}

th.direita {
    border-top-right-radius: 10px;
}

th.ambas{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.right{
    position: absolute;
    right: 0px;
    padding: 10px;
}

.botoes{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.voltar {
    text-align: left;
}

.meio {
    margin:auto;
}

.sair{
    margin-left: 0px;
    text-align: right;

}

label.rotulo {
    text-align: left;
}

.rodape{
    display: flex;
}

.excluir {
    text-align: left;
    padding-bottom: 10px;
}

.mudar{
    margin-left: auto;
    text-align: right;
    padding-bottom: 10px;
}

.limpar {
    text-align: left;
    padding-bottom: 10px;
}

.adicionar{
    margin-left: auto;
    text-align: right;
    padding-bottom: 10px;
}

.topo {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: white;
}

.menu {
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type='file'] {
    display: none;
}

label.btn-foto{
    font-weight: bold;
    background-color: rgb(219, 217, 217);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}