.foto {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.fotocenter{
    text-align: center;
}

.excluir {
    text-align: left;
    padding-bottom: 10px;
}

.editar{
    margin-left: auto;
    text-align: right;
    padding-bottom: 10px;
}

.retornar {
    padding: 10px;
}

td{
    text-align: left;
}

.rodape{
    display: flex;
    background-color: #dfe9f5bb;
}